<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== BOXICONS ===============-->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
        <link href='../../_astro/chat.CBFDjzKy.css' rel='stylesheet'>

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="assets/css/styles.css">

        <title>Error 404 | Scrum Manager</title>
    </head>
    <body class="bg-zinc-900">
        <!--==================== MAIN ====================-->
        <main class="main bg-background" data-astro-cid-sckkx6r4>
            <!--==================== HOME ====================-->
            <section class="absolute top-0 left-0 right-0 -z-10" data-astro-cid-3qnzmn4q>
                <div id="cursor" data-astro-cid-3qnzmn4q></div>
            </section>
            <section class="home">
                <div class="home__container container">
                    <div class="home__data">
                        <span class="home__subtitle">Error 404</span>
                        <h1 class="home__title">Vaya...</h1>
                        <p class="home__description">
                            No hemos podido encontrar la página que<br>estás buscando... ¿te has perdido?.
                        </p>
                        <a href="/" class="home__button">
                            Volver al inicio
                        </a>
                    </div>

                    <div class="home__img">
                        <img src="assets/img/ghost-img.png" alt="">
                        <div class="home__shadow"></div>
                    </div>
                </div>
            </section>
        </main>

        <!--=============== SCROLLREVEAL ===============-->
        <script src="assets/js/scrollreveal.min.js"></script>

        <!--=============== MAIN JS ===============-->
        <script src="assets/js/main.js"></script>
        <script src="../../_astro/hoisted.GXggxqRz.js"></script>

    </body>
</html>