{% if messages %}
<div id="messages-container" class="fixed bottom-6 right-6 transform z-50 overflow-hidden">
    <div id="inner-messages-container" class="flex flex-col-reverse">
        {% for message in messages %}
        <div class="rounded-lg m-1 p-1 notification alert-{{ message.tags }} min-w-80" id="alert-{{ forloop.counter }} " role="alert">
            <div class="notification__body flex justify-center">
                <p>{{ message }}</p>
            </div>
            <div class="notification__progress button-{{ message.tags }}"></div>
        </div>
        
        {% endfor %}
    </div>
</div>
{% endif %}
