<!DOCTYPE html>
<html>

<head>
    <title>Scrum Manager</title>
    <link rel="shortcut icon" href="favicon.ico">
    <style type="text/css">
        table[name="blk_permission"],
        table[name="blk_footer"] {
            display: none;
        }
    </style>
    <meta name="googlebot" content="noindex" />
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>

<body marginheight=0 marginwidth=0 topmargin=0 leftmargin=0
    style="height: 100% !important; margin: 0; padding: 0; width: 100% !important;min-width: 100%;">

    <table name="bmeMainBody" style="background: url(https://i.imgur.com/tCIA8Gf.png); background-repeat: repeat;" width="100%" cellspacing="0" cellpadding="0"
        border="0" bgcolor="#303030">
        <tbody>
            <tr>
                <td width="100%" valign="top" align="center">
                    <table name="bmeMainColumnParentTable" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td name="bmeMainColumnParent"
                                    style="border: 0px none transparent; border-radius: 0px; border-collapse: separate;">
                                    <table name="bmeMainColumn" class="bmeHolder"
                                        style="max-width: 800px; overflow: visible; border-radius: 0px; border-collapse: separate; border-spacing: 0px;"
                                        cellspacing="0" cellpadding="0" border="0" align="center">
                                        <tbody>
                                            <tr>
                                                <td class="bmeHolder" name="bmeMainContentParent"
                                                    style="border: 0px none rgb(102, 102, 102); border-radius: 0px; border-collapse: separate; border-spacing: 0px; overflow: hidden;"
                                                    width="100%" valign="top" align="center">
                                                    <table name="bmeMainContent"
                                                        style="border-radius: 0px; border-collapse: separate; border-spacing: 0px; border: 0px none transparent;"
                                                        width="100%" cellspacing="0" cellpadding="0" border="0"
                                                        align="center">
                                                        <tbody>
                                                            <tr>
                                                                <td class="blk_container bmeHolder" name="bmeHeader"
                                                                    style="color: rgb(56, 56, 56); border: 0px none transparent;"
                                                                    width="100%" valign="top"
                                                                    align="center">
                                                                    <div id="dv_1" class="blk_wrapper">
                                                                        <table class="blk" name="blk_text" width="800"
                                                                            cellspacing="0" cellpadding="0" border="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <table class="bmeContainerRow"
                                                                                            width="100%" cellspacing="0"
                                                                                            cellpadding="0" border="0">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td class="tdPart"
                                                                                                        valign="top"
                                                                                                        align="center">
                                                                                                        <table
                                                                                                            name="tblText"
                                                                                                            style="float: left;"
                                                                                                            width="800"
                                                                                                            cellspacing="0"
                                                                                                            cellpadding="0"
                                                                                                            border="0"
                                                                                                            align="left">
                                                                                                            <tbody>
                                                                                                                <tr>
                                                                                                                    <td name="tblCell"
                                                                                                                        style="padding: 20px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; color: rgb(56, 56, 56); text-align: left;"
                                                                                                                        valign="top"
                                                                                                                        align="left">
                                                                                                                        <div
                                                                                                                            style="line-height: 200%; text-align: center;">
                                                                                                                            <span
                                                                                                                                style="font-size: 40px; font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', 'Arial Black', sans-serif; color: #ffffff; line-height: 200%;">Scrum Manager</span>
                                                                                                                        </div>
                                                                                                                    </td>

                                                                                                                </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="blk_container bmeHolder" name="bmeBody"
                                                                    style="color: rgb(56, 56, 56); border: 0px none transparent;"
                                                                    width="100%" valign="top"
                                                                    align="center">

                                                                    <div id="dv_7" class="blk_wrapper">
                                                                        <table class="blk" name="blk_boxtext"
                                                                            width="800" cellspacing="0" cellpadding="0"
                                                                            border="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td name="bmeBoxContainer"
                                                                                        style="padding-left:20px; padding-right:20px; padding-top:0px; padding-bottom:0px;"
                                                                                        align="center">
                                                                                        <table name="tblText"
                                                                                            width="100%" cellspacing="0"
                                                                                            cellpadding="0" border="0">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td style="padding: 20px; font-family:Arial, Helvetica, sans-serif; font-weight: normal; font-size: 14px; color: #383838;  border-collapse: collapse;"
                                                                                                        name="tblCell"
                                                                                                        valign="top"
                                                                                                        >
                                                                                                        <div
                                                                                                            style="line-height: 200%; text-align: center;">
                                                                                                            <span
                                                                                                                style="font-size: 30px; font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', 'Arial Black', sans-serif; color: #22d3ee; line-height: 200%;">Te han invitado a un proyecto en Scrum Manager.</span><br><span
                                                                                                                style="font-size: 14px; color: #ffffff; line-height: 200%;">Has recibidol una invitación para formar parte del proyecto {{ project_name }}, en caso de que no quieras formar parte del proyecto, simplemente omite este correo.</span>
                                                                                                        </div>
                                                                                                        <div style="display:flex; flex-direction: column !important; align-items:center !important; padding:5px;">
                                                                                                            <a href="http://localhost:8000/proyecto/{{ projectId }}?token={{ token }}" style="text-decoration: none; color: #22d3ee; font-size: 25px; font-family: Arial, Helvetica, sans-serif; font-weight: normal; line-height: 200%; background: white; border-radius: 25px; padding: 7px;">¡Únete ya!</a>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>